# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file_url = "Output/weatherdata.csv"
weather_df = pd.read_csv(file_url)
weather_df.head()

,city,country,latitude,longitude,temp,temp_min,temp_max,humidity,time_zone,weather,cloud_coverage,wind_speed
0,Saint-Philippe,RE,-21.36,55.77,70.66,63.00,75.20,69,14400,overcast clouds,90,6.93
1,Presidencia Roque Sáenz Peña,AR,-26.79,-60.44,79.00,79.00,79.00,67,-10800,clear sky,0,1.99
2,La Ronge,CA,55.10,-105.28,-5.80,-5.80,-5.80,83,-21600,overcast clouds,99,2.24
3,Chincholi,IN,17.47,77.43,64.47,64.47,64.47,87,19800,broken clouds,77,3.38
4,Busselton,AU,-33.65,115.33,67.23,66.00,68.00,61,28800,clear sky,0,1.01

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [4]:
locations = weather_df[["latitude", "longitude"]].astype(float)
humidity = weather_df["humidity"].astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 5)

fig.add_layer(heat_layer)

In [5]:
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
hotel_df = weather_df.loc[(weather_df['temp']>72) & (weather_df['temp']<92) & (weather_df['humidity'] < 40)].reset_index()
hotel_df = hotel_df.dropna(how='any')
hotel_df.head()

,index,city,country,latitude,longitude,temp,temp_min,temp_max,humidity,time_zone,weather,cloud_coverage,wind_speed
0,31,Comodoro Rivadavia,AR,-45.87,-67.50,77.00,77.00,77.00,25,-10800,clear sky,0,13.87
1,88,Koutiala,ML,12.39,-5.46,77.43,77.43,77.43,20,0,overcast clouds,85,7.16
2,95,Tambura,SS,5.60,27.47,73.20,73.20,73.20,32,10800,few clouds,11,2.77
3,110,Mar del Plata,AR,-38.00,-57.56,73.40,73.40,73.40,35,-10800,clear sky,0,11.41
4,179,Olavarría,AR,-36.89,-60.32,73.99,73.99,73.99,36,-10800,clear sky,0,5.99

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df['Hotel Name'] = ''
hotel_df.head()

,index,city,country,latitude,longitude,temp,temp_min,temp_max,humidity,time_zone,weather,cloud_coverage,wind_speed,Hotel Name
0,31,Comodoro Rivadavia,AR,-45.87,-67.50,77.00,77.00,77.00,25,-10800,clear sky,0,13.87,
1,88,Koutiala,ML,12.39,-5.46,77.43,77.43,77.43,20,0,overcast clouds,85,7.16,
2,95,Tambura,SS,5.60,27.47,73.20,73.20,73.20,32,10800,few clouds,11,2.77,
3,110,Mar del Plata,AR,-38.00,-57.56,73.40,73.40,73.40,35,-10800,clear sky,0,11.41,
4,179,Olavarría,AR,-36.89,-60.32,73.99,73.99,73.99,36,-10800,clear sky,0,5.99,

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():
    params = {
        "location": f"{hotel_df.loc[index, 'latitude']},{hotel_df.loc[index,'longitude']}",
        "radius": "5000",
       # "rankby": "distance",
        "type": "hotel",
        "key": g_key,
    }
    
    response = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = response['results'][0]['name']
    except:
        print()
    time.sleep(1.2)

In [9]:
hotel_df.head()

,index,city,country,latitude,longitude,temp,temp_min,temp_max,humidity,time_zone,weather,cloud_coverage,wind_speed,Hotel Name
0,31,Comodoro Rivadavia,AR,-45.87,-67.50,77.00,77.00,77.00,25,-10800,clear sky,0,13.87,Comodoro Rivadavia
1,88,Koutiala,ML,12.39,-5.46,77.43,77.43,77.43,20,0,overcast clouds,85,7.16,Koutiala
2,95,Tambura,SS,5.60,27.47,73.20,73.20,73.20,32,10800,few clouds,11,2.77,Tambura
3,110,Mar del Plata,AR,-38.00,-57.56,73.40,73.40,73.40,35,-10800,clear sky,0,11.41,Mar del Plata
4,179,Olavarría,AR,-36.89,-60.32,73.99,73.99,73.99,36,-10800,clear sky,0,5.99,Olavarría

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["latitude", "longitude"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…